<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Legal Document Summarizer</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <div class="container">
      <h1>Legal Document Summarizer</h1> 
      <nav>
        <ul>
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/uploading">Upload Document</a></li>
          <li><a href="/past-summaries">Past Summaries</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <div class="container">
        <div class="section">
            <div class="welcome-heading">
                <h2 style="font-size: 1.5rem; border: none; color: var(--text-color);">Welcome to the</h2>
                <h1 style="font-size: 3rem; color: var(--text-bright);">Legal Document Summarizer</h1>
            </div>
            <p>This tool is designed to help you quickly summarize legal documents for better understanding and efficiency. Simply upload your document, and our AI will provide you with a concise summary.</p>
            <p>Key features:</p>
            <ul>
                <li>Efficiently summarize lengthy legal documents.</li>
                <li>Save time and effort understanding complex legal texts.</li>
                <li>Access, search, and filter previous summaries for quick reference.</li>
            </ul>
            <br>
            <a href="/uploading" class="button">Get Started</a>
        </div>
    </div>
  </main>
      
  <footer>
    <div class="container">
      <p>© 2024 Legal Document Summarizer</p>
    </div>
  </footer>
</body>
</html>